*~
.*~
.DS_Store
*.DS_Store
ac-comphist.dat
undohist/
tramp
auto-save-list/
GTAGS
GRTAGS
GPATH
tags
*sql.el
.cask/
*.log
.directory
recentf
elpa/
quelpa/
smex-items
TAGS*
*#
quelpa/
projectile-bookmarks.eld

.mc-lists.el
elpa/
*.elc